.theme-dark {
  /* Body */
  --body-bg: hsl(0, 0%, 0%);
  --body-clr: hsl(0, 0%, 100%);

  /* Theme-Buttons */
  --btntheme-bg: hsl(0, 0%, 2%);
  --btntheme-clr: hsl(0, 0%, 100%);

  /* Cards */
  --card-bg: hsl(0, 0%, 2%);
  --card-clr: hsl(0, 0%, 100%);
  --card-shadow-clr: hsla(0, 0%, 0%, 0.3);
}
