.theme-night {
  /* Body */
  --body-bg: hsl(0, 0%, 6%);
  --body-clr: hsl(0, 0%, 100%);

  /* Theme-Buttons */
  --btntheme-bg: hsl(248, 100%, 15%);
  --btntheme-clr: hsl(0, 0%, 100%);

  /* Cards */
  --card-bg: hsl(0, 0%, 12%);
  --card-clr: hsl(0, 0%, 100%);
  --card-shadow-clr: hsla(0, 0%, 0%, 0.3);
}
