.theme-day {
  /* Body */
  --body-bg: hsl(0, 0%, 92%);
  --body-clr: hsl(0, 0%, 12%);

  /* Theme-Buttons */
  --btntheme-bg: hsl(118, 100%, 31%);
  --btntheme-clr: hsl(0, 0%, 100%);

  /* Cards */
  --card-bg: hsl(0, 0%, 100%);
  --card-clr: hsl(0, 0%, 12%);
  --card-shadow-clr: hsla(236, 100%, 50%, 0.1);
}
