.theme-main {
  /* Body */
  --body-bg: hsl(0, 0%, 88%);
  --body-clr: hsl(0, 0%, 12%);

  /* Theme-Buttons */
  --btntheme-bg: hsl(0, 0%, 100%);
  --btntheme-clr: hsl(0, 0%, 0%);

  /* Cards */
  --card-bg: hsl(0, 0%, 100%);
  --card-clr: hsl(0, 0%, 0%);
  --card-shadow-clr: hsla(0, 0%, 0%, 0.1);
}
